div
  = link_to (image_tag tweet.user.twitter_profile_image_url), "/twitters/#{tweet.user.twitter_screen_name}?refresh=1"
  = tweet.text.gsub(/@([A-Za-z0-9_]*)/){|text_all| "<a href='/twitters/#{$1}?refresh=1'/>@#{$1}</a>"}.html_safe

